@model TRACE.Models.EventLog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EventLog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDatetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDatetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EventLogId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
