@model TRACE.Models.CaseAssignment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CaseAssignment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAssigned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAssigned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Erccase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Erccase.ErccaseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HandlingOfficerType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HandlingOfficerType.HandlingOfficerTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CaseAssignmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
