@model TRACE.Models.CaseTask

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CaseTask</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Task)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Task)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatetimeCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatetimeCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetCompletionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetCompletionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualCompletionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualCompletionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Document)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Document.DocumentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Erccase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Erccase.ErccaseId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CaseTaskId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
