@model List<TRACE.Controllers.UserDto>

@{
    ViewData["Title"] = "User Management";
}

<div class="crumbs">
    <a href="/dashboard">Dashboard</a> > @ViewData["Title"]
</div>

<h1>@ViewData["Title"]</h1>
<p>Easily Manage user data in the system</p>

<div class="grid gap-20 grid-cms">
    <div class="cms-nav">
        <ul>
            <li onclick="showTab('users')" class="active">
                <i class='bx bxs-user-account'></i> Users From Azure AD
            </li>
        </ul>
    </div>

    <div class="cms-wrap shadow">
        <div id="users" class="cms-content active">
            <h3><i class='bx bxs-user-account'></i> Users From Azure AD</h3>

            @if (Model != null && Model.Any())
            {
                <div class="filter-design border-radius-5 flex h-center" style="margin-bottom:20px;">
                    <i class='bx bx-search'></i>
                    <input type="text" id="userSearch" placeholder="Name, Email or Department.." style="width:100% !important;"/>
                </div>

                <table class="my-cases-table" id="ADuserTable">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Email Address</th>
                            <th>Department</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>@Model[i].DisplayName</td>
                                <td>@(string.IsNullOrEmpty(Model[i].Email) ? "N/A" : Model[i].Email)</td>
                                <td>@(string.IsNullOrEmpty(Model[i].Department) ? "N/A" : Model[i].Department)</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="pagination flex h-center gap-10">
                    <span>Current Page: </span>
                    <select id="userPagination"></select>
                    <span id="prevPage" class="prev flex h-center"><i class='bx bx-chevron-left'></i></span>
                    <span id="nextPage" class="next flex h-center"><i class='bx bx-chevron-right'></i></span>
                </div>
            }
            else
            {
                <p>No users found in this group.</p>
            }
        </div>
    </div>
</div>
<script src="~/js/userManagement.js"></script>
