@model TRACE.Models.CaseDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CaseDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseNature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseNature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasPrayedForPA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasPrayedForPA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFiled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFiled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Complainant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Complainant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Respondent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Respondent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ERCCaseID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
