@model TRACE.Models.MilestonesAchieved

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MilestonesAchieved</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatetimeAchieved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatetimeAchieved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PercentAchieved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PercentAchieved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseMilestone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseMilestone.CaseMilestoneId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Erccase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Erccase.ErccaseId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MilestoneAchievedId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
