@model IEnumerable<TRACE.Models.CaseMilestoneTemplate>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TemplateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TemplateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseCategory.CaseCategoryId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CaseMilestoneTemplateId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CaseMilestoneTemplateId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CaseMilestoneTemplateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
