@model IEnumerable<TRACE.Models.CaseNote>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatetimeCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Erccase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatetimeCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Erccase.ErccaseId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CaseNoteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CaseNoteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CaseNoteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
