@model IEnumerable<TRACE.Models.CaseApplicant>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correspondent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Erccase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correspondent.CorrespondentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Erccase.ErccaseId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CaseApplicantId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CaseApplicantId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CaseApplicantId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
