@model TRACE.Models.CaseBlobDocument

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CaseBlobDocument</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttachmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttachmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ercid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ercid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttachmentLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttachmentLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DocumentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
